{% extends 'base.html.twig' %}

{% block body %}
<style>
    .band{transition: 250ms ease;cursor: pointer;}
    .band a{list-style: none;text-decoration: unset;}
    .band:hover{transform: scale(1.02);}
</style>

  <h2>Liste des groupes</h2>
  <div class="bg-light p-3 rounded">
    {% for band in bands %}
      <div class="p-3 my-2 band" style="background-color: #e3f2fd;"><a href="{{ path('band_show', {id: band.id}) }}">{{band.name}}</a></div>
    {% endfor %}
  </div>
{% endblock %}
